*{margin:0;padding:0;box-sizing:border-box;font-family:system-ui;}
.nav1{
    width:100%;
    height:50px;
    background-color:#000;
    position:sticky;
    top:0;
    color:#fff;
}
.nav1 .left{
    width:10%;
    height:50px;
    float:left;
}
.nav1 .left img{
    width:100%;
    height:100%;
    cursor:pointer;
}
.nav1 .center{
    width:45%;
    height:50px;
    float:left;
    padding-top: 5px;
}
.nav1 .center h1{
    text-align:right;
}
.nav1 .center h1 a{
    color:#fff;
    text-decoration: none;
}
.nav1 .right{
    width:45%;
    height:50px;
    float:left;
    text-align:right;
}
.nav1 .right .btn1{
    background-color:#fff;
    width:50px;
    height:40px;
    border-radius:9px;
    cursor:pointer;
    position:relative;
    margin-top:3px;
}
.nav1 .right .btn1 span{
    background-color:#000;
    width:70%;
    height:5px;
    position:absolute;
    left:7px;
    margin-right:3px;
    border-radius:3px;
}
.nav1 .right .btn1 span:first-child{
    top:6px;
}
.nav1 .right .btn1 span:nth-child(2){
    top:15px;
}
.nav1 .right .btn1 span:last-child{
    top:25px;
}
.nav2{
    background-color:rgb(0, 0, 0);
    width:150px;
    height:100vh;
    position:fixed;
    right:0;
    text-align:center;
    display:none;
    top:50px;
}
.nav2 ul li{
    list-style-type:none;
    display:inline-block;
    margin:8px;
    margin-right:5px;
    background-color:grey;
    padding:7px;
    border-radius:10px;
    cursor:pointer;
}
.nav2 a{
    text-decoration:none;
    color:#fff;
}
.nav2.active{
    display:block;
}
.search{
    background-color: grey;
    width:500px;
    height:50px;
    border-radius:10px;
    margin-top:70px;
}
.search input{
    height:30px;
    margin-top:10px;
    border-radius:10px;
    outline:none;
    border:none;
}
.search input[type=search]{ width:70%;}
.search input[type=submit]{ width:20%;}
.products{
    margin-top:70px;
}
.products .product{
    display:inline-block;
    width:300px;
    height:200px;
    margin-top:30px;
}
.products .product img{
    border-radius:15px;
}
.btn{
    width:auto;
    height:auto;
    border:none;
    background-color:#000;
    color:#fff;
    padding:5px;
    border-radius:5px;
}
.next{
    background-color: aqua;
    outline:none;
    border:none;
    width:70px;
    height:50px;
    margin-top:10px;
    border-radius:10px;
    font-size:20px;
}
.next a{
    color:#000;
    text-decoration: none;
}
.about{
    margin-top:15%;
    background-color:rgb(87, 86, 86);
    color:#fff;
    width:400px;
    height:300px;
    border-radius: 30px;
}
.about p{
    margin-top:50px;
    font-size:30px;
}
.content{
    margin-top:10%;
    background-color: rgb(87, 86, 86);
    width:300px;
    height:300px;
    border-radius:10px;
}
.lang{
    margin-top:10px;
    width:auto;
    height:30px;
    border-radius: 10px;
    border:none;
    padding:5px;
    font-weight:bold;
    cursor:pointer;
}
.colors{
    margin-top:70px;
    cursor:pointer;
}
.color{
    margin-top:10px;
    margin:10px;
}
.login{
    margin-top:15%;
    background-color:#000;
    color:#fff;
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:300px;
    height:250px;
    gap:15px;
    border-radius:10px;
}
.login input{
    width:200px;
    height:30px;
    font-size:20px;
    outline:none;
    border:none;
}
.login input[type=submit]{
    cursor:pointer;
}
.login h2 a{
    color:#fff;
    text-decoration:none;
}
.name{
    background-color:rgba(5, 72, 55, 0.533);
    width:300px;
    height:50px;
    margin-bottom:5px;
    border-radius: 10px;
}
.form1{
    margin-top:15%;
}
.form1 input{
    width:300px;
    height:30px;
    margin:5px;
    outline:none;
    border:none;
    border-radius: 10px;
    font-size:20px;
    padding:3px;
}
.form1 input[type=submit]{
    background-color:#000;
    color:#fff;
}.pay{
    display:none;
}
.pay.active{
    display:inline-block;
    width:auto;
    height:auto;
    padding:5px;
    border-radius: 5px;
    border:none;
    outline:none;
    margin:5px;
    font-size:20px;
}
.pay a{
    color:#000;
    text-decoration:none;
}
@media (min-width:300px) and (max-width:500px) {
    .search{
        width:300px;
    }
    .nav1 .left{
        width:20%;
    }
    .nav1 .center{
        width:50%;
    }
    .nav1 .center h1{
        font-size:19px;
        margin-top:7px;
        font-weight:bold;
    }
    .nav1 .right{
        width:30%;
    }
    .products .product img{
        width:100px;
    }
    .nav2{
        width:100%;
        height:100px;
        position:fixed;
        right:0;
        text-align:center;
        display:none;
        top:50px;
    }
}